@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: #81f4e1;
    box-sizing: border-box;
    padding: 30px;
}
.btn a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}
.buscador-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-area{
    width: 350px;
    height: 49px;
    box-sizing: border-box;
    border: solid 1px grey;
}
.search-btn{
    padding: 15px;
    box-sizing: border-box;
    background-color: #56cbf9;
}
.search-btn a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}